{% extends 'base.html.twig' %}

{% block title %} History {% endblock %}

{% block body %}
    <h1> Games history : {{ user.pseudo }} </h1>
    <div class="user-games">
        {% for game in games %}
            <b> Game {{ game.token }}</b><br>
            {% set user_games = game.userGames %}

            <table>
                <thead>
                    <tr>
                        <th> Attempts left </th>
                        <th> Success </th>
                        <th> Failed </th>
                    </tr>
                </thead>
                <tbody>
                {% for user_game in user_games  %}
                    <tr style="text-align: center;">
                        <td> {{ user_game.attempts }} </td>
                        <td> {{ user_game.success|default(0) }} </td>
                        <td> {{ user_game.failed|default(0) }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endfor %}
    </div>
{% endblock %}

